.item .txt,
.main-color,
#nav ul a:hover,
.product .price,
.post h3:hover,
#nav ul .active a,
.menu-opener:hover,
.main-heading .clr,
.contact-list a:hover,
.top-filter li a:hover,
.product .title a:hover,
.top-filter li.active a,
.post .post-nav a:hover,
.social-network a:hover,
#footer.style2 #back-top,
.page-header .back:hover,
.post .author-by a:hover,
.isoto-filter li a:hover,
.page-header .breadcrumbs,
.isoto-filter li.active a,
.post-btn.no-border:hover,
#header .side-nav a:hover,
.product .over .cart:hover,
.blog-post.style2:hover h3,
.blog-post.style2 h3:hover,
.footer-area .f-nav a:hover,
.project-detail .zoom:hover,
.top-banner .social a:hover,
#header.bg-dark #nav a:hover,
.slider-ar .slick-arrow:hover,
#header .top-nav .tel a:hover,
.page-header.nobg .breadcrumbs,
.error-section .social a:hover,
.comment-section .comment time,
#header .social-network a:hover,
.product .over .icon-link:hover,
.newsletter-form .sub-btn:hover,
.sliderfade-ar .slick-arrow:hover,
#header.bg-dark .side-nav a:hover,
.project-detail .share ul a:hover,
.mt-mainslider .arrow-bottom:hover,
.offer-sec .service-tab li a:hover,
.slider-pg .slick-dots button:hover,
.offer-sec .service-tab li a.active,
#header .side-nav .drop-down a:hover,
.widget .latest-news .txt-wrap .time,
.comment-section .comment .reply:hover,
#header .side-nav .drop-down .active a,
.offer-sec .service-tab a:hover .icon,
#header.header3 #nav ul > li > a:hover,
.product .over .icon-shopping-bag:hover,
#footer.footer5 .social-network a:hover,
.sliderfade-pg .slick-dots button:hover,
.comment-section .comment .name a:hover,
.page-header .search-form .sub-btn:hover,
.offer-sec .service-tab li a.active .icon,
#header.bg-dark #nav ul li.drop:hover > a,
.contact-sec .contact-detail .call a:hover,
.contact-sec .contact-detail .email a:hover,
.slider-pg .slick-dots .slick-active button,
.sliderfade-pg .slick-dots .slick-active button,
#header.bg-dark #nav .drop-down li.drop2:hover > a,
#header.header3 .top-nav .side-nav .drop-down a:hover,
#header.header3 .top-nav .side-nav .drop-down .active a {
  color: #ffc857;
}

.bg-main,
.item .zoom,
.bg-maincolor,
.product .sale,
#header .search,
#back-top:hover,
.blog-post .icon,
.item.item4 .zoom,
#footer .btn:hover,
.btn-prev-p:hover i,
.btn-next-p:hover i,
#footer.footer4 #back-top,
#footer.footer5 #back-top,
#header.header3 .search:hover,
.mt-mainslider .post-btn:hover,
#header .nav-opener:hover span,
#footer.footer3 #back-top:hover,
#header .nav-opener:hover:after,
#header .nav-opener:hover:before,
.search-popup .search-form .icon,
.contact-sec .contact-form .btn:hover,
.search-popup .search-close:hover span,
#footer .footer-holder.footer #back-top,
.subscribe-holder .subscribe-form .sub-btn,
.service-post.align-left .service-label.bg-main {
  background: #ffc857;
}

.timeline .dot,
.menu-opener:hover,
#footer .btn:hover,
.timeline .time:before,
.isoto-filter li a:hover,
.isoto-filter li.active a,
.slider-ar .slick-arrow:hover,
.mt-mainslider .post-btn:hover,
.timeline .box.left .time:after,
.slider-ar .slick-arrow:hover:after,
.sliderfade-ar .slick-arrow:hover {
  border-color: #ffc857;
}

.btn-prev-p:hover span,
.btn-next-p:hover span,
.item.item3:hover:before {
  background: rgba(255, 200, 87, 0.9);
}
